# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

DerivedData/

test\.dSYM/Contents/

Codesign\.cer

ai

92-Spoons-AI\.xcodeproj/

example

test

\.DS_Store

gcc

*.gcda

*.gcno

example-html\.\._files\.h\.html

example-html\.ai\.cpp\.html

example-html\.files\.cpp\.html

example-html\.html

*.plist
